@using WEB_BANHOATUOI.Models;
@model PagedList.PagedList<WEB_BANHOATUOI.Models.CHUDE>
@using PagedList.Mvc;
@{
    ViewBag.Title = "QLChuDe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@helper Truncate(string input, int lenght)
{
    if(input.Length < lenght)
    {
        @input
    }
    else
    {
        @input.Substring(0,lenght)<text>...</text>
    }
}

<div class="container">

    <p style="text-align:center">
        <a href="@Url.Action("ThemChuDe","HomeAdmin")" class="btn btn-primary">Thêm Chủ Đề</a>
    </p>
    <table class="table table-hover table-condensed" id="cart">
        <thead>
            <tr>
                <th style="width: 10%">MÃ CHỦ ĐỀ</th>
                <th style="width: 40%">TÊN CHỦ ĐỀ</th>
                <th style="width: 30%">CHỨC NĂNG</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td data-th="Product">@Html.DisplayFor(modelItem => item.MACHUDE)</td>
                    <td data-th="Product">@Html.DisplayFor(modelItem => item.TENCHUDE)</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash-o"><a class="btn btn-danger btn-sm" href="@Url.Action("XoaChuDe", "HomeAdmin", new { id = item.MACHUDE})" style="color: white">Xóa</a></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info btn-sm">
                            <i class="fa fa-edit">
                                <a class="btn btn-priamry btn-sm" href="@Url.Action("CapNhatChuDe", "HomeAdmin", new { id = item.MACHUDE})" style="color: white">Cập nhật</a></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
<div class="container">
<p style="color:blue; text-align:center">Trang@(Model.PageCount < Model.PageNumber ?0: Model.PageNumber)/@Model.PageCount:</p>
<div class="pagination justify-content-center">
       @Html.PagedListPager(Model, page => Url.Action("QLChuDe","HomeAdmin", new {page = page}))
</div>

</div>
<link href="~/Content/bootstrap4.0/css/PhanTrang.css" rel="stylesheet" />

