@{
    ViewBag.Title = "ThemChuDe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using WEB_BANHOATUOI.Models;
@model WEB_BANHOATUOI.Models.CHUDE
<div class="container">
    <h5 style="text-align:center">THÊM HOA MỚI</h5>
    @using (Html.BeginForm("ThemChuDe", "HomeAdmin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                <h5 class="control-label col-md-2">TÊN CHỦ ĐỀ</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TENCHUDE)
                    @Html.ValidationMessageFor(model => model.TENCHUDE)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về trang QL Chủ Đề", "QLChuDe", "HomeAdmin", new { @class = "btn btn-warning" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
